 <!DOCTYPE html>
<html>
<head>
  <title>Pintersplat</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= link_to "Home Base", root_path %>
    <%= link_to "About We", about_path %></p>

    <%= yield %>



</body>
</html>
